body {
    background-color: #222233;
    color: white;
    font-family: "Calibri";
    text-align: center;}
#heros {
    display: flex;
    justify-content: space-between;
}
#jedis_list {
    width: 45%;
    display: flex;
    flex-direction: column;
}
#siths_list {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.heros_names {
    margin: 0.5rem;
    text-decoration: none;
    color: white;
}
.saber_line {
    margin: 0.1rem;
    font-weight: bold;
}
#citations .citation {
    font-style: italic;
}
#citations .citation .film_name {
    font-style: italic;
    color: grey;
}
#add_button {
    text-decoration: none;
    color: white;
}
#add_citation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}
.error {
    color: red;
}